In [1]:
import pandas as pd
import numpy as np

In [2]:
from geo import stco,sub

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')

In [4]:
stco_float = [float(i) for i in stco]

In [5]:
nyc = df[df['county']=='New York City'].copy()
nyc['sub'] = 'NYC'

In [6]:
region = df[df['fips'].isin(stco_float)].copy()
region['sub'] = region['fips'].astype(str).str[:5].map(sub)

In [7]:
nyc_region = pd.concat([nyc,region])

In [8]:
nyc_region.head()

           date         county     state  fips  cases  deaths  sub
416  2020-03-01  New York City  New York   NaN      1     0.0  NYC
448  2020-03-02  New York City  New York   NaN      1     0.0  NYC
482  2020-03-03  New York City  New York   NaN      2     0.0  NYC
518  2020-03-04  New York City  New York   NaN      2     0.0  NYC
565  2020-03-05  New York City  New York   NaN      4     0.0  NYC

In [19]:
nyc_region.sub.unique()

AttributeError: 'function' object has no attribute 'unique'

In [10]:
reg_tot = nyc_region.groupby(by='date',dropna=False).sum().reset_index()
sub_tot = nyc_region.groupby(by=['date','sub'],dropna=False).sum().reset_index()

In [11]:
reg_tot['sub']='NYC Metro'

In [12]:
final = pd.concat([reg_tot,sub_tot]).drop(columns='fips')

In [13]:
final.head()

         date  cases  deaths        sub
0  2020-03-01      1     0.0  NYC Metro
1  2020-03-02      1     0.0  NYC Metro
2  2020-03-03      2     0.0  NYC Metro
3  2020-03-04     12     0.0  NYC Metro
4  2020-03-05     24     0.0  NYC Metro

In [14]:
final.to_excel('reg_tot.xlsx')

In [15]:
us = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us.csv')

In [16]:
us.to_excel('us.xlsx')